body {
	padding-top: 60px;
	background: #2BC0E4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-inverse {
	background: #2c3e50;	
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}
.navbar-inverse .navbar-brand {
	color: white;
}

.thumbnail {
	width: 30%;
	float: left;
	margin: 1.66%;
}
span {
	opacity: 0;
	display: none;
}

.thumbnail:hover span{
	opacity: 1.0;
	display: block;
}
#uploader {
	display: none;
}


